*.pyc
*.pyo
__pycache__
db.sqlite3
db.sqlite3-journal
media
static
env
ENV
.env
.venv
venv
local_settings.py
db_backup
*.log
*.pot
*.mo
instance
.mypy_cache
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
.eggs
*.egg-info
dist
build
*.spec
*.manifest
*.develop
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/not-zip-safe


# Vite
node_modules/
dist/


.DS_STORE